body {
	/*background-image: url(img/background_light.jpg);*/
	background-color: rgb(201, 201, 201);
	font-family:
		'Montserrat',
		'M PLUS Rounded 1c',
		"ヒラギノ角ゴ ProN W3",
		HiraKakuProN-W3,
		Verdana,
		Helvetica,
		Arial,
		游ゴシック,
		"Yu Gothic",
		メイリオ,
		Meiryo,
		sans-serif;
	font-size: 16px;
}

p {
	font-size: 20px;
}

li {
	font-size: 20px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

.ul_top {
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: #595959;
	margin: 5px -8px;
	padding: 20px 0px;
}

.ul_top::after {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 0;
	width: 100%;
	display: block;
	border-style: solid none;
	border-width: 2px;
	border-color: white;
	pointer-events: none;
}

.ul_top li {
	list-style: none;
	font-size: 24px;
	font-family: 'Montserrat';
}

.ul_top li a {
	text-decoration: none;
	position: relative;
	display: inline-block;
	transition: .3s;
	color: white;
}

.ul_top li a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: white;
	transition: .3s;
	transform: translateX(-50%);
}

.ul_top li a:hover::after {
	width: 100%;
}

.ul_top li a:visited {
	color: white;
}

.rel {
	position: relative;
}

.ul_sns {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 68px;
	height: 60px;
	margin: auto 0 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #0008;
}

.ul_sns li {
	list-style: none;
	margin-left: 8px;
	margin-right: 8px;
}

.flowbtn9 {
	display: inline-block;
	font-size: 40px;
	text-decoration: none;
	transition: .5s;
}

.flowbtn9 .fa-twitter-square {
	color: #55acee;
}

.flowbtn9 .fa-instagram {
	color: #c6529a;
}

.flowbtn9 .fa-line {
	color: #00c300;
}

.flowbtn9:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

h1 {
	text-align: center;
}

footer {
	background-color: #595959;
	margin: 5px -8px;
	padding: 20px 8px;
	text-align: center;
	color: white;
}

input[type=text] {
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
	border: none;
	width: 494px;
	border-bottom: 2px solid;
	padding: 12px;
	margin: 5px 0.5%;
	box-sizing: border-box;
	background-color: #d3d3d3c2;
}

input[type=radio] {
	display: none;
}

input[type="radio"]:checked+label {
	background: #e16b;
	color: #ffffff;
	font-weight: bold;
}

.label:hover {
	background-color: #e163;
}

.label {
	display: block;
	float: left;
	margin: 5px 8px;
	width: 150px;
	height: 45px;
	color: #b20000;
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;
}

.labeltitle {
	display: block;
	float: left;
	margin: 5px;
	height: 45px;
	width: 120px;
	text-align: center;
	line-height: 45px;
}

.radiogroup {
	display: flex;
}

#userID {
	font-size: 54px;
}

#submit-button {
	border: 2px solid #000;
	border-radius: 22.5px;
	background: #0000002f;
	color: #d60808;
	margin: 5px 8px;
	width: 624px;
	height: 40px;
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
}

#submit-button:hover {
	background-color: #e163;
}

#view-button {
	border: 2px solid #000;
	border-radius: 22.5px;
	background: #0000002f;
	color: #d60808;
	margin: 5px 8px;
	width: 140px;
	height: 40px;
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
}

#view-button:hover {
	background-color: #e163;
}

.rank-table {
	border-collapse: collapse;
	font-size: 22px;
	margin: 25px 0;
	min-width: 30%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
	border: 0px;
}

.rank-container-small {
	display: flex;
	justify-content: space-around;
}

#rank-table-d {
	margin: auto;
	min-width: 50%;
}

@media screen and (max-width:1279px) {

	.rank-table {
		margin: 10px auto;
		width: 90%;
	}

	#rank-table-d {
		margin: 30px auto;
		width: 90%;
	}

	.rank-container-small {
		display: flex;
		flex-flow: column;
	}

}


.rank-table thead tr {
	color: #ffffff;
	text-align: center;
}

#rank-table-a thead tr {
	background-color: #f69;
}

#rank-table-a tbody tr:last-of-type {
	border-bottom: 3px solid #f69;
}

#rank-table-b thead tr {
	background-color: #0bd;
}

#rank-table-b tbody tr:last-of-type {
	border-bottom: 3px solid #0bd;
}

#rank-table-c thead tr {
	background-color: #f72;
}

#rank-table-c tbody tr:last-of-type {
	border-bottom: 3px solid #f72;
}

#rank-table-d thead tr {
	background-color: #07d;
}

#rank-table-d tbody tr:last-of-type {
	border-bottom: 3px solid #07d;
}

.rank-table th,
.rank-table td {
	padding: 12px 15px;
	text-align: center;
	border-width: 0px 0px;
}

.rank-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.rank-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f344;
}

.rank-table .en {
	font-family: 'Montserrat';
}