body {
	/*background-image: url(img/background_light.jpg);*/
	background-color: #d1d1d1;
	font-family:
		'Montserrat',
		'M PLUS Rounded 1c',
		"ヒラギノ角ゴ ProN W3",
		HiraKakuProN-W3,
		Verdana,
		Helvetica,
		Arial,
		游ゴシック,
		"Yu Gothic",
		メイリオ,
		Meiryo,
		sans-serif;
	font-size: 1.6rem;
}

p {
	margin: auto 8%;
}

ol {
	margin-left: 7%;
	margin-right: 7%
}

h2 {
	margin-left: 1%;
}

p {

	font-size: 1.6rem;
}

li {
	font-size: 1.6rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.5rem;
}


@media screen and (min-width:640px) {
	.ul_sns {
		position: absolute;
		right: 0px;
		bottom: 0px;
		width: 68px;
		height: 60px;
		margin: auto 0 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: #0008;
	}

	.logo {
		display: block;
		margin: auto;
		width: 50%;
	}

	.ul_top {
		position: relative;
		display: flex;
		justify-content: space-around;
		background-color: #595959;
		margin: 5px -8px;
		padding: 20px 0px;
	}

	.ul_top::after {
		content: "";
		position: absolute;
		top: 5px;
		bottom: 5px;
		left: 0;
		width: 100%;
		display: block;
		border-style: solid none;
		border-width: 2px;
		border-color: white;
		pointer-events: none;
	}

	.ul_top li {
		list-style: none;
		font-size: 24px;
		font-family: 'Montserrat';
	}

	.ul_top li a {
		text-decoration: none;
		position: relative;
		display: inline-block;
		transition: .3s;
		color: white;
	}

	.ul_top li a::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		content: '';
		width: 0;
		height: 1px;
		background-color: white;
		transition: .3s;
		transform: translateX(-50%);
	}

	.ul_top li a:hover::after {
		width: 100%;
	}

	.ul_top li a:visited {
		color: white;
	}

	.rel {
		position: relative;
	}
}

@media screen and (max-width:639px) {
	html {
		font-size: 70%;
	}

	.ul_sns {
		width: 100%;
		height: 60px;
		margin: auto 0 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: #0008;
		padding-left: 0px;
	}

	.logo {
		display: block;
		margin: auto;
		width: 90%;
	}

	.menu-btn {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
		background-color: #0008;
	}

	.menu-btn:hover {
		cursor: pointer;
	}

	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: "";
		display: block;
		height: 3px;
		width: 25px;
		border-radius: 3px;
		background-color: #ffffff;
		position: absolute;
	}

	.menu-btn span:before {
		bottom: 8px;
	}

	.menu-btn span:after {
		top: 8px;
	}


	#menu-btn-check:checked~.menu-btn span {
		background-color: #ffffff00;
	}

	#menu-btn-check:checked~.menu-btn span::before {
		bottom: 0;
		transform: rotate(45deg);
	}

	#menu-btn-check:checked~.menu-btn span::after {
		top: 0;
		transform: rotate(-45deg);
	}

	.ul_top {
		width: 80%;
		height: 100%;
		margin: 0px;
		position: fixed;
		top: 0;
		left: 100%;
		z-index: 80;
		background-color: #000d;
		transition: all 0.5s;
		padding: 70px 10px 0;
	}

	.ul_top li {
		border-bottom: solid 1px #ffffff;
		list-style: none;
	}

	.ul_top li a {
		display: block;
		width: 100%;
		font-size: 1.6rem;
		box-sizing: border-box;
		color: #ffffff;
		text-decoration: none;
		padding: 14px 20px 10px 0;
		position: relative;
	}

	#menu-btn-check:checked~.ul_top {
		left: 40%;
	}
}


.ul_sns li {
	list-style: none;
	margin-left: 8px;
	margin-right: 8px;
}

.flowbtn9 {
	display: inline-block;
	font-size: 40px;
	text-decoration: none;
	transition: .5s;
}

.flowbtn9 .fa-twitter-square {
	color: #55acee;
}

.flowbtn9 .fa-instagram {
	color: #c6529a;
}

.flowbtn9 .fa-line {
	color: #00c300;
}

.flowbtn9:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}

#menu-btn-check {
	display: none;
}


h1 {
	text-align: center;
}

footer {
	background-color: #595959;
	margin: 30px -8px 10px;
	padding: 20px 8px;
	text-align: center;
	color: white;
	font-size: 1.0rem;
}

input[type=text] {
	font-size: 1.2rem;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
	border: none;
	width: 494px;
	border-bottom: 2px solid;
	padding: 12px;
	margin: 5px 0.5%;
	box-sizing: border-box;
	background-color: #d3d3d3c2;
}

input[type=radio] {
	display: none;
}

input[type="radio"]:checked+label {
	background: #e16b;
	color: #ffffff;
	font-weight: bold;
}

.label:hover {
	background-color: #e163;
}

.label {
	display: block;
	float: left;
	margin: 5px 8px;
	width: 150px;
	height: 45px;
	color: #b20000;
	font-size: 1.3rem;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 5px;
}

.labeltitle {
	display: block;
	float: left;
	margin: 5px;
	height: 45px;
	width: 170px;
	font-size: 1.4rem;
	text-align: center;
	line-height: 45px;
}

.radiogroup {
	display: flex;
	justify-content: center;
}

#userID {
	font-size: 3.2rem;
}

#submit-button {
	border: 2px solid #000;
	border-radius: 22.5px;
	background: #0000002f;
	color: #d60808;
	margin: 5px 8px;
	width: 674px;
	height: 40px;
	font-size: 1.2rem;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
}

#submit-button:hover {
	background-color: #e163;
}

.formcontainer {
	display: flex;
	flex-flow: column;
}

.formcontainersmall {
	display: flex;
	margin: auto;
}

@media screen and (max-width:639px) {
	#submit-button {
		margin: 5px auto;
		width: 90%;
		height: 30px;
	}

	.labeltitle {
		display: block;
		margin: 5px;
		width: 100%;
		height: 30px;
		text-align: center;
		line-height: 45px;
	}

	#inputname {
		width: 90%;
		margin: auto;
	}

	.formcontainersmall {
		display: flex;
		flex-flow: column;
		width: 90%;
		margin: auto;
	}

	.label {
		height: 30px;
		line-height: 30px;
	}
}


#view-button {
	border: 2px solid #000;
	border-radius: 22.5px;
	background: #0000002f;
	color: #d60808;
	margin: 5px 8px;
	width: 140px;
	height: 40px;
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
}

#view-button:hover {
	background-color: #e163;
}

.rank-table {
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 30%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
	border: 0px;
}

.rank-container-small {
	display: flex;
	justify-content: space-around;
}

#rank-table-d {
	margin: auto;
	min-width: 50%;
}

@media screen and (max-width:1279px) {

	.rank-table {
		margin: 10px auto;
		width: 90%;
	}

	#rank-table-d {
		margin: 30px auto;
		width: 90%;
	}

	.rank-container-small {
		display: flex;
		flex-flow: column;
	}

}


.rank-table thead tr {
	color: #ffffff;
	text-align: center;
}

#rank-table-a thead tr {
	background-color: #f69;
}

#rank-table-a tbody tr:last-of-type {
	border-bottom: 3px solid #f69;
}

#rank-table-b thead tr {
	background-color: #0bd;
}

#rank-table-b tbody tr:last-of-type {
	border-bottom: 3px solid #0bd;
}

#rank-table-c thead tr {
	background-color: #f72;
}

#rank-table-c tbody tr:last-of-type {
	border-bottom: 3px solid #f72;
}

#rank-table-d thead tr {
	background-color: #07d;
}

#rank-table-d tbody tr:last-of-type {
	border-bottom: 3px solid #07d;
}

.ca {
	border-bottom: solid 3px #f69;
}

.cb {
	border-bottom: solid 3px #0bd;
}

.cc {
	border-bottom: solid 3px #f72;
}

.cd {
	border-bottom: solid 3px #07d;
}

.rank-table th,
.rank-table td {
	padding: 12px 15px;
	text-align: center;
	border-width: 0px 0px;
}

.rank-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.rank-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f344;
}

.rank-table .en {
	font-family: 'Montserrat';
}

#rank-table-a tbody .head_avg {
	background-color: #f694;
}

#rank-table-b tbody .head_avg {
	background-color: #0bd4;
}

#rank-table-c tbody .head_avg {
	background-color: #f724;
}

#res-table {
	margin: 30px auto;
	width: 90%;
	border-collapse: collapse;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.55);
	border: 0px;
}

#res-table .la {
	background-color: #f693;
}

#res-table .lb {
	background-color: #0bd3;
}

#res-table .lc {
	background-color: #f723;
}

#res-table .ld {
	background-color: #07d3;
}

#res-table .ha {
	background-color: #f69;
	color: #fff;
	font-weight: bold;
}

#res-table .hb {
	background-color: #0bd;
	color: #fff;
	font-weight: bold;
}

#res-table .hc {
	background-color: #f72;
	color: #fff;
	font-weight: bold;
}

#res-table .hd {
	background-color: #07d;
	color: #fff;
	font-weight: bold;
}

#res-table th,
#res-table td {
	padding: 12px 15px;
	text-align: center;
	border-width: 0px 0px;
}

#form {
	text-align: center;
}

#attentinon_text_yourscore {
	text-align: center;
}

input[type=number] {
	font-size: 18px;
	font-family: 'Montserrat', 'M PLUS Rounded 1c';
	border: none;
	width: 294px;
	border-bottom: 2px solid;
	padding: 12px;
	margin: 5px 0.5%;
	box-sizing: border-box;
	background-color: #d3d3d3c2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

@media screen and (max-width:1279px) {
	.forbig {
		display: none;
	}
}

@media screen and (min-width:1280px) {
	.forsmall {
		display: none;
	}
}

.tw_share {
	text-decoration: none;
	padding: .4em .8em;
	margin: 0.4em;
	font-size: 1.3rem;
	background-color: #00acee;
	color: #fff;
	text-decoration: none;
	border-style: none;
	border-radius: 5px;
}

.tw_share:hover {
	opacity: 0.6;
	transition: 1.0s;
	color: #fff;
}

.cover {
	display: flex;
}

.cover li {
	list-style: none;
}

.cover img {
	display: block;
	border: solid 10px #FFF;
	border-radius: 10px;
	margin: auto;
}

@media screen and (max-width:679px) {
	.cover{
		flex-direction: column;
	}
	.cover img {
		width: 90%;
	}
}

@media screen and (min-width:680px) {
	.cover img {
		width: 90%;
	}
}